*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000;
  outline: none !important;
  border: none !important;
}
.out-n:hover{
  outline: none;
}

.pcolor{
  background-color:purple;
  color: white !important;
}

.c-w{
  color: red !important;
  background-color: blue;
}

.flex1{
  display: flex;
}
.f1{
  width: 60%;
  margin-top: 15%;
}
.f2{
  width: 40%;
  height: 100%;
  margin-top: 20%;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 2px;
  color:#dde662;
}
.p1{
  font-size: 16px;
  letter-spacing: 0;
  font-weight: normal;
  color:#777;
  margin-left: 10px;
  
}
.contact{
  margin-left: 5%;
  margin-top: 10%;
  letter-spacing: 1px;
  color: #1a2239;
  text-decoration: underline;
}
.contact li{
  list-style: none;
  margin: 7% 0;
  font-size: 21px;
  letter-spacing: 1px;
  color: white;
  background-color: #1a2239;
  padding: 50px 10px;
  margin-right: 4%;
  border-radius: 5px;
}

.about{
  margin-left: 5%;
  margin-top: 15%;
  color: #dde662;
  
}
.about p{
  margin-left: 5%;
  margin-right: 7px;
  margin-bottom: 30%;
  line-height: 34px;
  text-align: justify;
  color: gray;
}
.footer p{
  margin-top: 30%;
  text-align: center;
  width: 100%;
  font-size: 25px;
  background-color: #1a2239;
  margin-bottom: 0;
  color: #dde662;
  padding: 10px 0px;
}


@media screen and (max-width:767px){
 .flex1{
   display: inline;
 }
 .f1{
   width: 70%;
   margin-top: 5%;
   border: 1px solid  #dde662;
   margin-left: 15%;
   padding: 20px 0px;
 }
 .f2{
   
   width: 90%;
   margin-left: 5%;
   margin-top: 20%;
   font-size: 19px;
   font-weight: bold;
   letter-spacing: 2px;
   word-spacing: 6px;
 }
 .p1{
   width: 70%;
   word-spacing: normal;
   text-align: justify;
   margin-left: 5%;
   border-left: 2px solid gray;
   padding-left: 20px;
 }
.contact{
  margin-left: 7.5px;
  margin-right:7.5px ;
  margin-top: 10%;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #9df6fe;
  justify-content: center;
  padding: 10px 2px;
  border-radius: 5px;
  color: #000;
  font-family: Georgia;
  border:1px solid #1a2239;
  border-radius: 2px;
  box-shadow: 5px 10px 10px gray;
}
.contact li{
  font-family: Tahoma;
  margin-top: 0%;
  margin-bottom: 2%;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  padding: 30px 7px;
}
.contact ul{
  background-color: #1a2239;
  margin-top: 20%;
  margin-bottom: 20%;
  margin:20% 10px ;
}
.contact span{
  margin-left: 20px;
}
.about{
  margin-left: 15px;
  margin-top: 15%;
  margin-bottom: 20%;
  padding: 5px 4px;
  
}
.about p{
  margin-left: 20px;
  margin-right: 7px;
  margin-bottom: 30%;
  line-height: 34px;
  text-align: justify;
  border-left: 3px solid gray;
  padding-left: 20px;
}
.footer p{
  font-size: 16px;
}


}